.uk-panel-space {
    padding: 5px 30px 5px 5px;
}

    /*margin-right:5px;*/

@media (max-width: 767px) {
    .uk-panel-box,
    .tm-content,
    .tm-block {
        padding: 0px
    }
}

 .tm-menu-item.tm-menu-compound .tm-menu-name,
.tm-menu-item.tm-menu-compound .tm-menu-price {
    font-size: 18px;
}
/*
.uk-grid {
    margin-right: -25px;
}*/
.uk-container {
    padding: 0 10px;
}
/*
.uk-panel>:not(.uk-panel-title):last-child {
    padding-right: 25px;
}*/
/*.uk-modal-dialog {
    padding:40px;
}*/