.form-control {
    padding: 0px 12px;
}
th
{
	text-align: center;
}
/*#from-admin-lte*/
.info-box-icon {
    float: right;
}
.text-white
{
  color:#fff;
}
.margin {
  margin-bottom: 15px;
}

.margin-top {
  margin-top: 15px !important;
}
.margin-bottom {
  margin-bottom: 15px !important;
}
.margin-left {
  margin-left: 15px !important;
}
.margin-right {
  margin-right: 15px !important;
}
/*
 * Larger margins
 */
.margin-large {
  margin-bottom: 50px;
}

.margin-large-top {
  margin-top: 50px !important;
}
.margin-large-bottom {
  margin-bottom: 50px !important;
}
.margin-large-left {
  margin-left: 50px !important;
}
.margin-large-right {
  margin-right: 50px !important;
}
/*
 * Smaller margins
 */
.margin-small {
  margin-bottom: 5px;
}

.margin-small-top {
  margin-top: 5px !important;
}
.margin-small-bottom {
  margin-bottom: 5px !important;
}
.margin-small-left {
  margin-left: 5px !important;
}
.margin-small-right {
  margin-right: 5px !important;
}
/*
 * Remove margins
 */
.margin-remove {
  margin: 0 !important;
}
.margin-top-remove {
  margin-top: 0 !important;
}
.margin-bottom-remove {
  margin-bottom: 0 !important;
}





.padding {
  padding-bottom: 15px;
}

.padding-top {
  padding-top: 15px !important;
}
.padding-bottom {
  padding-bottom: 15px !important;
}
.padding-left {
  padding-left: 15px !important;
}
.padding-right {
  padding-right: 15px !important;
}
/*
 * Larger paddings
 */
.padding-large {
  padding-bottom: 50px;
}

.padding-large-top {
  padding-top: 50px !important;
}
.padding-large-bottom {
  padding-bottom: 50px !important;
}
.padding-large-left {
  padding-left: 50px !important;
}
.padding-large-right {
  padding-right: 50px !important;
}
/*
 * Smaller paddings
 */
.padding-small {
  padding-bottom: 5px;
}

.padding-small-top {
  padding-top: 5px !important;
}
.padding-small-bottom {
  padding-bottom: 5px !important;
}
.padding-small-left {
  padding-left: 5px !important;
}
.padding-small-right {
  padding-right: 5px !important;
}
/*
 * Remove paddings
 */
.padding-remove {
  padding: 0 !important;
}
.padding-top-remove {
  padding-top: 0 !important;
}
.padding-bottom-remove {
  padding-bottom: 0 !important;
}

/*chat section*/
.chat-users{
    height: 100%;
    overflow: auto;
    direction: ltr;
        margin: 0px;
    padding: 0px;
    padding-right: 15px;
}
.chat-user
{
  height: 30px;
  background-color:#f3f3f3;
  margin-top: 3px; 
  padding-right: 3px; 
  padding-top: 3px; 
  cursor: pointer;
  direction: rtl;
}
.chat-user:hover
{
  background-color: #e0e0e0;

}
.load-more
{
  height: 30px;
  background-color:#f3f3f3;
  margin-top: 3px; 
  padding-right: 3px; 
  padding-top: 3px; 
  cursor: pointer;
  direction: rtl;
}
.load-more:hover
{
  background-color: #e0e0e0;

}
.chat-body
{
  overflow: auto;
  direction: ltr;
  height: 100%;
}
.chat-user-content
{
  direction: rtl;
}
.flash {
  animation: blinker 2s linear infinite;
}
@-webkit-keyframes blinker {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.5;}
}

@-moz-keyframes blinker {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.5;}
}

@-ms-keyframes blinker {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.5;}
}

@-o-keyframes blinker {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.5;}
}

@keyframes blinker {
  0%, 50%, 100% {opacity: 1;}
  25%, 75% {opacity: 0.5;}
}

